@import url("config.css");

body {
  font-family: var(--font-principal);
  background-color: var(--color-fondo);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-header);
  color: var(--color-texto-claro);
  padding: var(--padding-principal);
  width: 100%;
  box-sizing: border-box;
}
